<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718713164450-p9t3vhpehjq0esci6ju5lat79p0v1bpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718713164450-p9t3vhpehjq0esci6ju5lat79p0v1bpf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>718713164450-0gch77227a8g9r2qd5e85kd43146bgc1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCl9bHEBkz2ELpnu3z9NBPexlbl6zOr4-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>718713164450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meego.partnerapp</string>
	<key>PROJECT_ID</key>
	<string>spa-app-e98f0</string>
	<key>STORAGE_BUCKET</key>
	<string>spa-app-e98f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718713164450:ios:cc76d227baafc8755e7dfb</string>
</dict>
</plist>